@font-face {
  font-family: "TitleFont";
  src: url("@/assets/fonts/Cookie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.h1 {
  @apply text-white text-8xl;
  font-family: "TitleFont", "Georgia", sans-serif;
}

body {
  font-family: Verdana, sans-serif;
}
