@font-face {
  font-family: "TitleFont";
  src: url("@/assets/fonts/Cookie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.h1 {
  @apply text-white text-4xl px-6 mb-6 sm:text-5xl md:text-6xl lg:text-8xl sm:px-0 sm:mb-6;
  font-family: "TitleFont", "Georgia", sans-serif;
}

body {
  font-family: Verdana, sans-serif;
}
